version: '3'

services: 
  web:
    build: .
    environment:
      MYENV: EXAMPLE
    volumes:
      - .:/code
  web_migrate:
    extends:
      service: web
    command: python manage.py migrate
  web_run:
    extends:
      service: web
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    # depends_on:
    #   - db
# vue:
#   image: vue-front
#   container_name: frontend
#   build:
#     context: .
#     dockerfile: ../frontend/Dokerfile
#   ports:
#     - 8080:8080